@import "tailwindcss";

@theme {
  --font-zamenhof-inverse: "Zamenhof Inverse", sans-serif;
  --font-framer-sans: "Framer Sans", sans-serif;
  --font-lucida: "Lucida Handwriting", cursive;
}

@layer base {
  html, body {
    font-family: var(--font-framer-sans);
  }
}
