@import "tailwindcss";
@import url("https://fonts.cdnfonts.com/css/framer-sans");
@import url("https://fonts.cdnfonts.com/css/zamenhof");

:root {
  --font-framer-sans: "Framer Sans", sans-serif;
  --font-zamenhof-inverse: "Zamenhof Inverse", sans-serif;
}

@layer base {
  html, body {
    font-family: var(--font-framer-sans);
  }
}